*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.pesquisa{
    display: flex;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: black;
    color: white;
}

.galeria{
    display: flex;
    justify-content: center;
    gap: 6px;
    padding-top: 5px;
    flex-wrap: wrap; /* Quebrar linha */
}

.galeria img{
    width: 40vh;
    height: 40vh;
    border-radius: 10px;
    border: 1px solid black
}

.galeria img:hover{
    transform: scale(1.1);  
    transition: 2s;
}